html { font-family: "Myriad Pro", sans-serif; }

.scroll-button { box-shadow: 5px 8px 31px -5px rgba(0, 0, 0, 0.75); background-color: #1A9BDC; width: 150px; height: 35px; border-radius: 20px; border: none; }
.scroll-button:hover { background-color: #167a95; color: gray; }
.scroll-button:focus { outline: none; }
.scroll-button .text-button { text-transform: uppercase; font-size: 13px; color: white; font-weight: bold; padding: 5px; }
.scroll-button .text-button:focus { outline: none; }

section#first-section { background-image: url("../images/main-background.png"); height: 600px; background-position: center; background-repeat: no-repeat; background-size: cover; }
section#first-section .background-img { background-image: url("../images/light-main-section.png"); height: 600px; background-position: center; background-repeat: no-repeat; background-size: cover; }
section#first-section .main-title-row { color: #474747; padding-top: 150px; }
section#first-section .main-title-row .main-title { font-size: 40px; text-align: center; font-weight: bold; }
section#first-section .main-title-row .main-subtitle { color: #3F3F3F; text-align: center; font-size: 15px; margin: 20px 0; }
section#first-section .scroll-row { padding: 20px 0; }
section#first-section .scroll-row .scroll-down-block { margin: auto; color: white; font-size: 12px; }

section#second-section { margin: auto; width: 100%; }
section#second-section .section-one { background-color: #43B1D2; }
section#second-section .section-two { background-color: #3FB6C6; }
section#second-section .section-three { background-color: #3CBBBB; }
section#second-section .section-four { background-color: #37C3A8; }
section#second-section .features-block { padding: 30px 30px; display: flex; flex-direction: column; text-align: center; }
section#second-section .features-block .icon-block { margin: 30px auto 10px auto; height: 50px; width: 50px; display: flex; background-color: white; border-radius: 50%; }
section#second-section .features-block .icon-block img { height: 30px; margin: auto; width: auto; }
section#second-section .features-block h3 { font-size: 17px; text-align: center; font-weight: bold; color: white; }
section#second-section .features-block p { font-size: 12px; color: white; }

section#third-section { padding: 50px 0 0 0; height: auto; }
section#third-section .main-title-choosing .title-choosing { text-align: center; font-weight: bold; font-size: 50px; color: #494949; }
section#third-section .main-title-choosing .description-choosing { text-align: center; font-size: 15px; color: #6A6A6A; }
section#third-section .style-choosing img { background-position: center; background-repeat: no-repeat; background-size: cover; height: 450px; }
section#third-section .style-choosing .choosing { display: flex; flex-direction: column; }
section#third-section .style-choosing .choosing .choosing-block { text-align: center; display: flex; }
section#third-section .style-choosing .choosing .choosing-block .icon-block { margin: 30px 0 10px 0; height: 50px; width: 50px; display: flex; background-color: #1A9BDC; border-radius: 50%; }
section#third-section .style-choosing .choosing .choosing-block .icon-block img { height: 30px; margin: auto; width: auto; color: white; }
section#third-section .style-choosing .choosing .choosing-block h3 { font-size: 17px; text-align: center; font-weight: bold; color: #6F6F6E; margin: auto auto 25px 20px; }
section#third-section .style-choosing .choosing p { font-size: 12px; color: #6A6A6A; }

section#fourth-section { background-image: url("../images/best-feature-background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; }
section#fourth-section .back-color { background-color: rgba(0, 135, 190, 0.7); }
section#fourth-section .back-color .best-feature { padding: 6rem 0px; color: white; }
section#fourth-section .back-color .best-feature .best-feature-block { padding: 0 70px; text-align: center; }
section#fourth-section .back-color .best-feature .best-feature-block img { height: 60px; width: auto; color: black; margin: 30px 0; }
section#fourth-section .back-color .best-feature .best-feature-block .number { font-size: 50px; }
section#fourth-section .back-color .best-feature .best-feature-block hr { border: 3px solid white; width: 50%; }
section#fourth-section .back-color .best-feature .best-feature-block .comment { font-size: 20px; }

section#five-section { padding: 5rem; }
section#five-section .text-area .title-area { font-weight: bold; font-size: 40px; color: #494949; }
section#five-section .text-area .we-works .content-area { font-size: 12px; color: #6A6A6A; padding: 10px 0 50px 0; }
section#five-section .text-area .we-works .scroll-row { padding: 20px 0; }
section#five-section .text-area .we-works .scroll-row .scroll-down-block { margin: auto; color: white; font-size: 12px; }
section#five-section .text-area .we-works .image-block img { width: 100%; height: 100%; }
section#five-section .text-area .we-works .image-comment { color: #6F6F6E; font-size: 15px; font-weight: bold; padding: 20px 0 0; }
section#five-section .text-area .we-works .info-block { display: flex; color: #0087BE; padding: 10px 0; }
section#five-section .text-area .we-works .info-block .date { font-size: 10px; font-weight: bold; padding-right: 15px; }
section#five-section .text-area .we-works .info-block .category { font-size: 10px; font-weight: bold; padding-left: 15px; }
section#five-section .text-area .we-works .info-block .delimiter { margin: auto 0; width: 1px; height: 16px; border-right: 1px solid #0087BE; }
section#five-section .text-area .our-creative .content-area-two { font-size: 12px; color: #6A6A6A; padding: 10px 0 30px 0; }
section#five-section .text-area .our-creative .about-treatment { border-radius: 25px; padding: 5px; background-color: #0087BE; }
section#five-section .text-area .our-creative .about-treatment .icon-style { color: #0087BE; height: 30px; width: 30px; display: flex; border-radius: 50%; background-color: white; }
section#five-section .text-area .our-creative .about-treatment .icon-style i { margin: auto; color: #0087BE; }
section#five-section .text-area .our-creative .about-treatment .text-style { font-size: 13px; margin: auto 10px; color: white; }
section#five-section .text-area .our-creative .treatment-position { padding: 10px 0; }
section#five-section .text-area .our-creative .treatment-position .about-treatment-two { border-radius: 25px; padding: 5px; background-color: #E2E2E2; }
section#five-section .text-area .our-creative .treatment-position .about-treatment-two .icon-style { color: #0087BE; height: 30px; width: 30px; display: flex; border-radius: 50%; background-color: white; }
section#five-section .text-area .our-creative .treatment-position .about-treatment-two .icon-style i { margin: auto; color: #0087BE; }
section#five-section .text-area .our-creative .treatment-position .about-treatment-two .text-style { font-size: 13px; margin: auto 10px; color: black; }

section#six-section { background-image: url("../images/gallery-background.png"); background-position: center; background-repeat: no-repeat; background-size: cover; }
section#six-section .back-color { background-color: rgba(56, 182, 158, 0.8); padding: 3rem; }
section#six-section .back-color .main-title-gallery .title-gallery { text-align: center; font-weight: bold; font-size: 50px; color: white; padding-bottom: 30px; }
section#six-section .back-color .main-title-gallery .description-gallery { text-align: center; font-size: 15px; color: white; }
section#six-section .back-color .image-gallery { padding: 20px 0; }
section#six-section .back-color .image-gallery .image-block img { width: 100%; height: 100%; }
