@import "constants";
//basic setting
html {
  font-family: "Myriad Pro", sans-serif;
}
section#first-section {
  background-image: url("../images/main-background.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .background-img{
    background-image: url("../images/light-main-section.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-title-row {
    color: $main-banner-title;
    padding-top: 150px;


    .main-title {
      font-size: 40px;
      text-align: center;
      font-weight: bold;

    }

    .main-subtitle {
      color: $main-baner-text;
      text-align: center;
      font-size: 15px;
      margin: 20px 0;
    }
  }
  .scroll-row {
    padding: 20px 0;

    .scroll-down-block {
      margin: auto;
      color: white;
      font-size: 12px;

      .scroll-button {
        box-shadow: 5px 8px 31px -5px rgba(0,0,0,0.75);
        background-color: $header-icons;
        width: 150px;
        height: 35px;
        border-radius: 20px;
        border: none;
        &:hover {
          background-color: #167a95;
          color: gray;
        }

        &:focus {
          outline: none;
        }
        .text-button{
        text-transform: uppercase;
        font-size: 13px;
        color: white;
          font-weight: bold;
          padding: 5px;
          &:focus {
            outline: none;
          }
      }
      }
    }
  }
}
section#second-section{
  margin: auto;
  width: 100%;
  .section-one{
    background-color: #43B1D2;
  }
  .section-two{
    background-color: #3FB6C6;
  }
  .section-three{
background-color: #3CBBBB;
  }
  .section-four{
background-color: #37C3A8;
  }
    .features-block {
      padding: 30px 30px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .icon-block {
        margin: 30px auto 10px auto;
        height: 50px;
        width: 50px;
        display: flex;
        background-color: white;
        border-radius: 50%;

        img {
          height: 30px;
          margin: auto;
          width: auto;
        }
      }

      h3 {
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        color: white;
      }

      p {
        font-size: 12px;
        color: white;
      }
    }


}
section#third-section{
  padding: 50px 0 0 0;
  height: auto;

  .main-title-choosing{
    .title-choosing{
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      color: #494949;

    }
    .description-choosing{
      text-align: center;
      font-size: 15px;
      color: #6A6A6A;
    }
  }

    .style-choosing{
      img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //height: 400px;
        height: 450px;
      }
      .choosing {
        display: flex;
        flex-direction: column;
    .choosing-block {

      text-align: center;
      display: flex;
      .icon-block {
        margin: 30px 0 10px 0;
        height: 50px;
        width: 50px;
        display: flex;
        background-color: $header-icons;
        border-radius: 50%;

        img {
          height: 30px;
          margin: auto;
          width: auto;
          color: white;
        }
      }

      h3 {
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        color: #6F6F6E;
        margin: auto auto 25px 20px;
      }

    }p {
       font-size: 12px;
       color: #6A6A6A;
     }
  }}
}
section#fourth-section{
  background-image: url("../images/best-feature-background.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .best-feature{
  display: flex;
    color: white;
    .best-feature-block{

      .icon-block{
          margin: 30px 0 10px 0;
          height: 50px;
          width: 50px;
          display: flex;

          img {
            height: 30px;
            margin: auto;
            width: auto;
            color: white;
          }

      }
    }
  }
}
@import "mobile";
